{% extends 'base.html' %}
{% block content %}
    
    <div id="show" class="section" style="margin-top: 100px">
		<div class="content-wrap">
            <div class="container text-center" style="padding-bottom: 50px;">
                <img src="{{ video.photo_de_couverture.url }}" style="max-height: 250px">
            </div>
            <div class="container text-center" >
                <span>
                    Une demande au nom de SEHATRA.COM vient d'être envoyer sur votre téléphone
                </span>
                <div>
                    <a href="/paiement/mvola/verification/{{ billet.slug }}/">
                        <button class="btn btn-primary" >
                            Cliquez sur ce bouton une fois le paiement effectué
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="loader">
          <div class="loading">
        </div>
    </div>
    <style>
    .paiement {
        padding: 20px;
    }

    .loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color: #1ecd97;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
    </style>

{% endblock %}