
{% extends "base.html" %}
{% block content %}

   <!-- owl-carousel Banner Start -->
   <section class="pt-0 pb-0">
      <div class="container-fluid px-0">
         <div class="row no-gutters">
            <div class="col-12">
               <div class="gen-banner-movies banner-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="0">
                     <div class="item" style="background-color: #151824">
                        <div class="gen-movie-contain-style-2 h-100">
                           <div class="container h-100">
                              <div class="row flex-row-reverse align-items-center h-100">
                                 <div class="col-xl-6">
                                    <div class="gen-front-image ">
                                       <img src="/static/images/affiche-mahaleo.png" alt="owl-carousel-banner-image">
                                    </div>
                                 </div>
                                 <div class="col-xl-6">
                                    <div class="gen-movie-info" style="margin-top: 30px">
                                       <h3>Revy Feu de Camp Mahaleo</h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <ul class="gen-meta-after-title">
                                          <li class="gen-sen-rating">
                                             <span>Sortie le 24 Juin 2023</span>
                                          </li>
                                          <li>
                                             <span>
                                                Live de 1h 15mn
                                             </span>
                                              </li>
                                          <li>
                                             <span>
                                                5 € / 20.000 Ar
                                             </span>
                                          </li>
                                       </ul>
                                       <p>
                                            En 1982, le groupe Mahaleo avait fait un feu de camp diffusé sur la télévision nationale Malagasy. 40 ans plus tard, dans le cadre de la célébration du 50ème anniversaire du groupe, les deux membres restants accompagnés de leurs fils ont souhaité reproduire ce concept mais cette fois pour les Malagasy du monde entier.                                        </p>
                                    <div class="gen-movie-action">
                                       <div class="gen-btn-container">
                                          <a href="/video/revy-feu-de-camp-mahaleo/" class="gen-button gen-button-dark">
                                             <i aria-hidden="true" class="fas fa-play"></i> <span class="text">Regarder le live</span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </section>
   <!-- owl-carousel Banner End -->

   <!-- owl-carousel Videos Section-1 Start -->
   <!-- owl-carousel Videos Section-1 End -->

{#    Liste des levées de fond #}
   <!-- owl-carousel images Start -->
   <section class="pt-0 gen-section-padding-2 home-singal-silder">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="gen-banner-movies">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="30">
                     <div class="item" style="background: url('/static/images/sehatra-madagascar.webp')">
                        <div class="gen-movie-contain h-100">
                           <div class="container  h-100">
                              <div class="row align-items-center h-100">
                                 <div class="col-xl-8">
                                    <div class="gen-movie-info">
                                       <h3>Agir avec nous</h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <p>
                                           Chaque vue de vidéo sur SEHATRA.COM contribue directement à des actions sociales ou environnementales à Madagascar
                                       </p>
                                        <h3>
                                            Ny adidy vita, ny fahafinaretana azo
                                        </h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item" style="background: url('/static/images/sehatra-enrironnementale.webp')">
                        <div class="gen-movie-contain h-100">
                           <div class="container h-100">
                              <div class="row align-items-center h-100">
                                 <div class="col-xl-8">
                                    <div class="gen-movie-info">
                                       <h3>Ensemble, protégeons Madagascar</h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <p>
                                           Avec SEHATRA.COM, les associations environnementales peuvent faire une levée de fond avec une portée internationale pour améliorer leur impact et leur influence
                                       </p>
                                    </div>
                                    <div class="gen-movie-action">
                                       <div class="gen-btn-container">
                                          <a href="/association/" class="gen-button gen-button-dark">
                                             <span class="text">Inscrivez votre association</span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item" style="background: url('/static/images/sehatra-social.webp')">
                        <div class="gen-movie-contain h-100">
                           <div class="container  h-100">
                              <div class="row align-items-center h-100">
                                 <div class="col-xl-8">
                                    <div class="gen-movie-info">
                                       <h3>Iray vatsy, iray aina</h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <p>
                                           Avec SEHATRA.COM, les associations sociales peuvent faire une levée de fond avec une portée internationale pour améliorer leur impact et leur influence sur la société et aider plus de personnes dans le besoin.
                                       </p>
                                    </div>
                                    <div class="gen-movie-action">
                                       <div class="gen-btn-container button-1">
                                          <a href="/association/" class="gen-button gen-button-dark">
                                             <span class="text">Inscrivez votre association</span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel images End -->

   <section class="gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">Vidéos disponibles</h4>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">
                      {% for video in videos %}
                     <div class="item">
                        <div
                           class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                           <div class="gen-carousel-movies-style-2 movie-grid style-2">
                              <div class="gen-movie-contain">
                                 <div class="gen-movie-img">
                                    <img src="{{ video.photo_de_couverture.url }}" alt="{{ video.titre }}">
                                    <div class="gen-movie-action">
                                       <a href="/video/{{ video.slug }}/" class="gen-button">
                                          <i class="fa fa-play"></i>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="gen-info-contain">
                                    <div class="gen-movie-info">
                                       <h3><a href="/video/{{ video.slug }}/">
                                           {{ video.titre }}</a>
                                       </h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <ul>
                                          <li>{{ video.duree }}</li>
                                          <li>
                                             <span>{{ video.date_sortie }}</span>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- #post-## -->
                     </div>
                      {% endfor %}

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

{#   <section class="gen-section-padding-2">#}
{#      <div class="container">#}
{#         <div class="row">#}
{#            <div class="col-xl-6 col-lg-6 col-md-6">#}
{#               <h4 class="gen-heading-title">Live à venir</h4>#}
{#            </div>#}
{#         </div>#}
{#         <div class="row mt-3">#}
{#            <div class="col-12">#}
{#               <div class="gen-style-2">#}
{#                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"#}
{#                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"#}
{#                     data-loop="false" data-margin="30">#}
{#                      {% for video in lives %}#}
{#                     <div class="item">#}
{#                        <div#}
{#                           class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">#}
{#                           <div class="gen-carousel-movies-style-2 movie-grid style-2">#}
{#                              <div class="gen-movie-contain">#}
{#                                 <div class="gen-movie-img">#}
{#                                    <img src="{{ video.photo_de_couverture.url }}" alt="{{ video.titre }}">#}
{#                                    <div class="gen-movie-action">#}
{#                                       <a href="/video/{{ video.slug }}/" class="gen-button">#}
{#                                          <i class="fa fa-play"></i>#}
{#                                       </a>#}
{#                                    </div>#}
{#                                 </div>#}
{#                                 <div class="gen-info-contain">#}
{#                                    <div class="gen-movie-info">#}
{#                                       <h3><a href="/video/{{ video.slug }}/">#}
{#                                           {{ video.titre }}</a>#}
{#                                       </h3>#}
{#                                    </div>#}
{#                                    <div class="gen-movie-meta-holder">#}
{#                                       <ul>#}
{#                                          <li>{{ video.live.date }}</li>#}
{#                                          <li>#}
{#                                             <span>{{ video.live.heure }}</span>#}
{#                                          </li>#}
{#                                       </ul>#}
{#                                    </div>#}
{#                                 </div>#}
{#                              </div>#}
{#                           </div>#}
{#                        </div>#}
{#                        <!-- #post-## -->#}
{#                     </div>#}
{#                      {% endfor %}#}
{##}
{#                  </div>#}
{#               </div>#}
{#            </div>#}
{#         </div>#}
{#      </div>#}
{#   </section>#}


{% endblock %}
