{% extends 'base.html' %}

{% block content %}

	<!-- BANNER -->
    <div class="section banner-page" style="margin-top: 100px">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-3">
				<div class="title-page">SEHATRA.COM</div>
			</div>
			<div class="d-flex justify-content-center bd-highlight mb-3">
			    <nav aria-label="breadcrumb">
                    <h2>Politique de confidentialité</h2>
				</nav>
		  	</div>
		</div>
	</div>

	<!-- FEATURES -->
	<div id="bio" class="section">
		<div class="content-wrap">
			<div class="container">

				<div class="row mt-3">
					<div class="col-12 col-md-12">
						<p class="text-center">Cette politique s’applique au site SEHATRA.COM</p>
                        <p class="text-center">Le respect de votre vie est de la plus haute importance pour sehatra.com qui est responsable de ce site.</p>
					</div>
				</div>
                <div class="container text-center">
                    <h2>Article 1 : Collecte des données personnelles</h2>
                    <p>Les données collectées et ultérieurement traitées par nos soins sont celles que vous nous transmettez volontairement lors de la création d’un compte</p>
                </div>
                <div class="container text-center">
                    <h2>Article 2 : Utilisation des données personnelles</h2>
                    <p>Les renseignements personnels collectés par le site ne sont transmis à aucun tiers et
ne sont traités que par nous.
Les données identifiées comme étant indispensables sont nécessaires pour vous
faire bénéficier des fonctionnalités et services offerts par le site dont vous souhaitez
profiter.</p>
                </div>
                <div class="container text-center">
                    <h2>Article 3: Protection</h2>
                    <p>Nous nous engageons à constamment fournir le plus haut niveau de sécurité et de
confidentialité. Pour protéger les traitements et les données contre notamment la
destruction accidentelle ou illicite, la perte accidentelle, l’altération, la diffusion ou
l’accès non autorisé, nous avons mis en place des contrôles appropriés sous forme
de procédures physiques, électroniques et de procédures de gestion à la hauteur de
l’intégrité des données de nos utilisateurs.
Sauf votre expresse autorisation, nous ne partageons jamais vos informations
personnelles et confidentielles avec des tiers.
Nous ne conserverons vos données personnelles dans les systèmes informatiques
du site et dans les conditions raisonnables de sécurité. L’ensemble des
renseignements personnels collectes sera conservé tant que le site est opérationnel.</p>
                </div>
                <div class="container text-center">
                    <h2>Article 4 : Conditions de modification de la politique de
confidentialité :</h2>
                    <p>La présente politique de confidentialité peut être consultée a tout moment à l’adresse ci-
après indiquée : sehatra.com
Nous nous réservons le droit de la modifier afin de garantir sa conformité avec le droit en
vigueur.

Par conséquent, vous êtes invité(e) à venir consulter régulièrement cette politique de
confidentialités afin de tenir informé(e) des derniers changements qui lui seront
apportés.</p>
                </div>
			</div>
		</div>
	</div>


        <hr style="border: 0;
        width: 90%;
        height: 1px;
        opacity: .5;
    background-color: #a8afb1">


{% endblock %}