{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Single-tv-Shows -->
    <section class="position-relative gen-section-padding-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pm-inner">
                        <div style="margin: 50px">
                            <h5 class="gen-more-title">Gérer votre profil personnel sur SEHATRA.COM</h5>
                            <form method="post">{% csrf_token %}
                                {{form|crispy}}
                                <input class="btn btn-info" type="submit" value="Enregistrer" style="margin-top: 30px">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}