{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        {%if erreur %}
        <div class="page relative">
            <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto d-block">
                        <div class="card p-7 mb-0 mt-7 mt-md-0">
                            <div class="text-center">
                                <div class="fs-100  mb-5 text-primary font-weight-normal h1"><i class="fa fa-frown-o"></i>ops!</div>
                                <h1 class="h3  mb-3 font-weight-bold">{{erreur}}</h1>
                                <p class="h5 font-weight-normal mb-7 leading-normal">Verifier votre connexion</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {%else%}
        
                            <!--Page header-->
                            <div class="page-header">
                                <div class="page-leftheader">
                                    <h4 class="page-title">Postes sur Facebook</h4>
                                </div>
                            </div>
                            <!--End Page header-->

                            <div class="row row-sm">
                                <div class="col-lg-8">
                                    
                                </div>
                                <div class="col-lg-4">
                                    <div class="card mg-b-20 card--events">
                                        <div class="card-header">
                                            <div class="card-title">
                                               Vue d'ensemble
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="">
                                                <ul class="list-group mb-0">
                                                    <li class="list-group-item d-flex border-top-0 border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-primary me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Followers</span></label>
                                                            <h5>{{information.followers_count}} <span class="mb-1 text-muted"><span class="text-success">(<i class="fa fa-caret-up  me-1"></i> {{vue_ensemble.Followers}}</span> que le mois dernier)</span></h5>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item d-flex border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-secondary me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Mention J'aime</span></label>
                                                            <h6>{{information.fan_count}}<span class="mb-1 text-muted"><span class="text-success">(<i class="fa fa-caret-up  me-1"></i> {{vue_ensemble.like}}</span> que le mois dernier)</span></h6>
                                                        </div>
                                                    </li>
                                                    {% comment %} <li class="list-group-item d-flex border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-success me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Nombre de postes</span></label>
                                                            <h6>{{contenus|length}}
                                                            </h6>
                                                        </div>
                                                    </li> {% endcomment %}
                                                    <li class="list-group-item d-flex border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-warning me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Total des vues de la Page</span></label>
                                                            <h6>{{ vue_ensemble.page_views_total }}</h6>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item d-flex border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-info me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Clics des liens</span></label>
                                                            <h6>{{vue_ensemble.link_clics}}</h6>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item d-flex border-start-0 border-end-0">
                                                        <div class="w-3 h-3 bg-danger me-3 mt-1 brround"></div>
                                                        <div>
                                                            <label class="fs-12">Publications mentionnant Sehatra.com ou repartagés</span></label>
                                                            <h6>{{vue_ensemble.page_content_activity}}</h6>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
        {%endif%}
        
        {% endblock %}

    {% block scripts %}
    

        <!-- Timeline js -->
        <script src="{% static 'interface_administration/assets/plugins/timeline/js/jquery.timelify.js' %}"></script>
        <script src="{% static 'interface_administration/assets/js/timeline.js' %}"></script>

        <!-- Color Theme js -->
        <script src="{% static 'interface_administration/assets/js/themeColors.js' %}"></script>

    {% endblock %}