    {% load static %}

		<!-- Jquery js-->
		<script src="{% static 'interface_administration/assets/js/vendors/jquery.min.js'%}"></script>

		<!-- Bootstrap5 js-->
		<script src="{% static 'interface_administration/assets/plugins/bootstrap/js/popper.min.js'%}"></script>
		<script src="{% static 'interface_administration/assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

		<!--Othercharts js-->
		<script src="{% static 'interface_administration/assets/plugins/othercharts/jquery.sparkline.min.js'%}"></script>

		<!-- Circle-progress js-->
		<script src="{% static 'interface_administration/assets/js/vendors/circle-progress.min.js'%}"></script>

		<!-- Jquery-rating js-->
		<script src="{% static 'interface_administration/assets/plugins/rating/jquery.rating-stars.js'%}"></script>

		<!-- P-scroll js-->
		<script src="{% static 'interface_administration/assets/plugins/p-scrollbar/p-scrollbar.js'%}"></script>

		<!-- Custom js-->
		<script src="{% static 'interface_administration/assets/js/custom.js'%}"></script>

