{% extends 'base.html' %}

{% block content %}

	<!-- BANNER -->
    <div class="section banner-page" data-background="/static/images/sehatra-3.png">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-3">
				<div class="title-page">SEHATRA.COM</div>
			</div>
			<div class="d-flex justify-content-center bd-highlight mb-3">
			    <nav aria-label="breadcrumb">
                    <h2>Erreur 404 - Page Introuvable</h2>
				</nav>
		  	</div>
		</div>
	</div>


{% endblock %}