{% extends 'base.html' %}

{% block content %}

	<!-- BANNER -->
    <div class="section banner-page" data-background="/static/images/sehatra-3.png">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-3">
				<div class="title-page">SEHATRA.COM</div>
			</div>
			<div class="d-flex justify-content-center bd-highlight mb-3">
			    <nav aria-label="breadcrumb">
                    <h2>Première plateforme de concert en ligne à Madagascar</h2>
				</nav>
		  	</div>
		</div>
	</div>

	<!-- FEATURES -->
	<div id="bio" class="section">
		<div class="content-wrap">
			<div class="container">

				<div class="row mt-3">

					<div class="col-12 col-md-10 offset-md-1">
						<p class="text-center">Le projet Sehatra.com a été mis en place pour aider le secteur évenementiel Malagasy à survivre et à continuer à marcher pendant cette crise du Covid-19.</p>
						<p class="text-center">Toute la chaîne de valeur de ce secteur sera mis à contribution dans chacun de nos évènements</p>
					</div>

				</div>

				<div class="row" style="padding-top: 50px;">
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">ARTISTE</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">PRODUCTEUR</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">SALLE DE SPECTACLE</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">SONORISATION</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">LUMIERE</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">EFFETS SPECIAUX</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">ESTRADE</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">DECORATION</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">VIDEO</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="rs-team-2">
							<div class="body">
								<div class="title">PHOTO</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

    <div id="bio" class="section">
        <div class="content-wrap">
            <div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<h2 class="section-heading text-center">
							NOS PARTENAIRES
						</h2>
					</div>
				</div>

				<div class="row text-center">
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/tolotra-malagasy.jpg" style="max-width: 150px">
                    </div>
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/be-mozika-logo.jpg" style="max-width: 150px">
                    </div>
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/vahatra-mozika-logo.jpg" style="max-width: 150px">
                    </div>
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/decibell-logo.jpg" style="max-width: 150px">
                    </div>
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/number-one.jpg" style="max-width: 150px">
                    </div>
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-bottom: 30px;">
                        <img src="/static/images/logo/e-rec.jpg" style="max-width: 150px">
                    </div>
                </div>
            </div>
		</div>
	</div>


{% endblock %}