{% extends 'base.html' %}

{% block content %}


	<!-- BANNER -->
    <div class="section banner-page" data-background="images/dummy-img-1920x300.jpg">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-3">
				<div class="title-page">SEHATRA.COM</div>
			</div>
		</div>
	</div>	
    <div class="container text-center">
        <span>Voulez-vous supprimer votre compte sehatra.com ? </span>
    <a href="/supprimer-compte"><button class="btn btn-danger">Supprimer</button></a>
    </div>

        <hr style="border: 0;
        width: 90%;
        height: 1px;
        opacity: .5;
    background-color: #a8afb1">


{% endblock %}