{% extends 'base.html' %}

{% block content %}


	<!-- BANNER -->
    <div class="section banner-page" data-background="images/dummy-img-1920x300.jpg">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-3">
				<div class="title-page">MEDIA</div>
			</div>
			<div class="d-flex justify-content-center bd-highlight mb-3">
			    <nav aria-label="breadcrumb">
				  <ol class="breadcrumb ">
				    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Media</li>
				  </ol>
				</nav>
		  	</div>
		</div>
	</div>	

	<!-- VIDEO -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
                        <video id='hls-example'  class="video-js vjs-default-skin" width="400" height="300" controls>
                        <source type="application/x-mpegURL" src="https://d36y0x6ykphpiy.cloudfront.net/out/v1/ccd40ecc1d3842648fad5c59550fd808/index.m3u8">
                        </video>
					</div>

				</div>
			</div>
		</div>	
	</div>	


	<!-- GALLERY -->
	<div id="gallery" class="section bg-secondary">
		<div class="content-wrap">
			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-12">
						
						<h2 class="section-heading text-center text-white">
							LATEST CONCERT
						</h2>
						<p class="subheading text-center text-white">Make some noise</p>
					
					</div>	
						
				</div>

				<div class="row popup-gallery gutter-5 mt-3">
					<!-- Item 1 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #1">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 2 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #2">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 3 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #3">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 4 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #4">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 5 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #5">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 6 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #6">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 7 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #7">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 8 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #8">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Item 9 -->
					<div class="col-sm-6 col-md-4">
						<div class="box-gallery">
							<a href="images/dummy-img-600x400.jpg" title="Gallery #9">
								<img src="images/dummy-img-600x400.jpg" alt="" class="img-fluid">
								<div class="project-info">
									<div class="project-icon">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- CTA -->
	<div id="talk" class="section bg-primary">
		<div class="content-wrap py-5">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="text-center text-white">
							
							<form class="form-inline justify-content-center subscribe-form">
							  <label for="p_email_subscribe_2" class="col-sm-2 col-form-label font-weight-bold uk21">NEWSLETTER</label>
							  <div class="form-group mx-sm-3 mb-2">
							    <label for="p_email_subscribe_2" class="sr-only">Email</label>
							    <input type="email" class="form-control" id="p_email_subscribe_2" placeholder="Enter your email address">
							  </div>
							  <button type="submit" class="btn btn-secondary mb-2">Subscribe</button>
							</form>
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


{% endblock %}